.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}
.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}
.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}
.input__submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}
.input__submit:hover {
  background-color: #388ae2;
}
.input__submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}
/*  */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  margin-top: 10px;
}
.todos {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  width: 47.5%;
  background-color: rgb(50, 195, 205);
}
.active-tasks {
  font-size: 30px;
  color: white;
}
.single-todo {
  display: flex;
  /* width: 29.5%; */
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url('https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg');
  transition: 0.2s;
}
.single-todo:hover {
  box-shadow: 0px 0px 5px black;
  transform: scale(1.03);
}
.todo-text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}
.todo-text:focus {
  outline: none;
}
.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}
/* @media (max-width: 1100px) {
  .single-todo {
    width: 45%;
  }
} */

@media (max-width: 800px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
  /* .single-todo {
    width: 100%;
  } */
  .container {
    flex-direction: column;
  }
}
.remove {
  background-color: rgb(235, 103, 80);
}
